@model NoteViewModel;
<form method="post" asp-action="Create">
<div class="bg-dark text-white">
        <div class="row mt-2">
            <div class="col-md-12 text-white font-weight-bold">
                <p>De um nome a sua Note.</p>
                @{
                    var userid = (Guid)TempData["user_id"];
                    @Html.TextBoxFor(x => x.UserId, new{value = userid, hidden = true})
                    @Html.TextBoxFor(x => x.Born, new{value = DateTime.Now, hidden = true})
                }

                @Html.TextBoxFor(x => x.Name, new{Placeholder="Nome", @class="form-control"})
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-12 text-white font-weight-bold">
                <p>Agora dê sentido à ela.</p>
                @Html.TextAreaFor(x => x.Content, new{Placeholder="Conteudo", @class="form-control"})
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
        </div>
</div>
<div class="modal-footer bg-dark">
    <button type="button" class="btn btn-light" asp-action="Index">Close</button>
    <button type="submit" asp-route-id = "@userid" class="btn btn-outline-warning">Save</button>
</div>
</form>